<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información de contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Innformación de contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informacion de contacto</ion-card-title>
      <ion-card-subtitle>En esta sección encontraras mi infomacion de contacto</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Mi nombre: </ion-col>
          <ion-col>David Beltran </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Mi Telefono de contacto: </ion-col>
          <ion-col>0424 XXX-XX-XX </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Donde vivo </ion-col>
          <ion-col>Caracas/Venezuela</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>     
  </ion-card> 

</ion-content>
